<div class="sneaker-form" [formGroup]="newsletterSubscriptionForm">
  <div class="modal-header">
    <h4 class="modal-title">{{ isEdit ? 'Edit User' : 'Add User' }}</h4>
    <button type="button" class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <div class="form-group mb-3">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" class="form-control" />
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="close()">Close</button>
    <button type="button" ngbAutofocus class="btn btn-outline-charcoal-alt" (click)="onSubmit()">Submit</button>
  </div>
</div>
